header{
    background-color: #960d0de1;
    height: 60px;
    width: auto;
    /* position: relative; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

header img{
    /* width: auto; */
    /* height: 50px; */
}